@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700|Roboto:500);

/* Body
=========================================================================== */
body {
  background-color: @global-background-color;
}


/* Header
 ========================================================================== */
 .tm-header {
 	 background-color: @global-header-background;
   padding-top: 0;
   padding-bottom: 0;
 	 color: #fff;
   border-bottom: none;
 }

 .tm-site-branding, .tm-site-branding a {
 	font-size: 16px;
 	font-weight: normal;
 	line-height: 65px;
 	height: 65px;
 	padding-right: 10px;
  font-family: @base-heading-font-family;
  text-transform: uppercase;
  letter-spacing: 1px;

 	img {
 		vertical-align: top;
    height: 36px;
    width: auto;
    margin-top: 12.5px;
    margin-right: 10px;
    border-radius: 4px;
 	}
 }

 /* Primary Menu
  ========================================================================== */
.tm-primary-menu {
	margin-top: 12.5px;
}


/* Site Title tag on Home
 ========================================================================== */
 .tm-site-title-tag {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 32px;
  line-height: 42px;
  font-weight: normal;
}

.tm-branded-panel {
  background: #fff;
  text-align: center;
  color: @base-body-color;
  font-weight: normal;
  border-bottom: 1px solid @global-border;

  h1, h2, h3 {
    font-weight: normal;
  }
}


/* Main
 ========================================================================== */
.tm-main {
  background: transparent; //@global-background-color;
}

/* Content
 ========================================================================== */
.tm-maxwidth-content {
	max-width: 800px;
}

.tm-article-content {
  font-size: 16px;
  line-height: 1.5;
}

/* Posts grid
 ========================================================================== */
.tm-posts-grid {

  .uk-panel-box {
  	box-shadow: 0 1px 1px rgba(0,0,0,0.08);
    padding-bottom: 5px;
  }

  h2 {
    margin-top: -7px;
  }

	.tm-article-image {
		margin:  -@panel-box-padding -@panel-box-padding 15px -@panel-box-padding;
		img {
			border-radius: 0;
		}
	}
}

/* Additional Styling
============================================================================ */
textarea {
  width: 100%;
}
